:root {
    --green: #16302b;
    --blue: #8e94f2;
    --red: #f2545b;
    --gray: #94958b;
    --white: #eef1ef;
}

body {
    background: #eef1ef;
    font-size: 16px;
}

/* Header */

header section {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: var(--green);
    color: var(--white);
}

header section div {
    margin-left: auto;
}

h1 {
    font-size: 30px;
}

/* Navigation Bar */

.nav-container {
    display: flex;
    margin-right: 20px;
}
.nav-container li {
    padding: 10px 20px;
}

.nav-container li a {
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
}

.nav-container li a:hover {
    color: var(--red);
}

/* Main Content */

.container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.container article {
    display: flex;
    margin-top: 20px;
}

.container article section {
    display: flex;
}

.about-me-container {
    display: flex;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 50px;
    padding-right: 25px;
    border-right: 2px solid;
    color: var(--red);
    flex-wrap: wrap;
    font-size: 20px;
}

.about-me-container div {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    width: 75%;
}

