:root {
    --font-color: #F2FDFF;
    --font-hover: #ca9388;
    --background: #272F3C;
    --container-background: rgba(51, 53, 65, 0.75);
}

body {
    background-color: var(--background);
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

a:hover {
    color: var(--font-hover);
}

.nav-container {
    width: 100%;
    height: 75vh;
    background-image: url(../Images/mountains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #272F3C;
    box-shadow: 2px 2px 12 px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
}

nav ul {
    display: flex;
}

nav ul li a {
    margin: 30px;
    font-family: 'Nunito', sans-serif;
    color: #F2FDFF;
    font-size: 0.9375em;
    font-weight: 700;
}

.logo {
    font-family: 'Sriracha', cursive;
    color: #F2FDFF;
    font-size: 22px;
}

/* ***** Main Content ***** */


/* About Me */

.about-container {
    width: 75%;
    height: auto;
    background-color: var(--container-background);
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: 2% auto 2% 2%;
    padding: 2%;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about-container img {
    width: 15.128249737146662%;
    padding: 1% 0;
}

.about-text h2 {
    color: var(--font-color);
    font-family: 'Sriracha', cursive;
    font-weight: bold;
    font-size: 1.4375em;
    line-height: 0px;
    padding: 2%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid;
    margin-bottom: 2%;
}

.about-text p {
    color: var(--font-color);
    font-size: 0.875em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    line-height: 1.2rem;
    padding: 1% 0;
}


/* My Work */

.my-work-container {
    width: 75%;
    height: auto;
    margin: 2% 2% 2% auto;
    background-color: var(--container-background);
    border-radius: 20px;
    display: flex;
    padding: 2%;
    justify-content: space-evenly;
}

.my-work {
    width: 59.1715976331361%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.my-work h2{
    color: var(--font-color);
    font-family: 'Sriracha', cursive;
    font-weight: bold;
    font-size: 1.4375em;
    line-height: 0px;
    padding: 2%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid;
    margin-bottom: 2%;
}

h3 {
    color: var(--font-color);
    margin: -4.5% 88.75% 0 auto;
    position: relative;
    background-color: var(--background);
    padding: 1%;
}

.my-work .project1 a {
    display: flex;
    justify-content: center;
    width: 100%;
}

.project1 {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
    padding-top: 1%;
}

.project1-img {
    width: 100%;
    height: 300px;
}

.project2,
.project3,
.project4,
.project5 {
    width: 46.875%;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
    margin: 2% 0;
    filter: brightness(0.5);
}

.project2,
.project4 {
    margin-right: 3.125%;
}

.project3,
.project5 {
    margin-left: 3.125%;
}

.my-work .project2 a,
.my-work .project3 a,
.my-work .project4 a,
.my-work .project5 a {
    display: flex;
    justify-content: center;
    width: 100%;
}

.project2 h3,
.project3 h3,
.project4 h3,
.project5 h3 {
    margin: -7.25% 78.75% 0 auto;
}

.my-work .project1:hover h3,
.my-work .project2:hover h3,
.my-work .project3:hover h3,
.my-work .project4:hover h3,
.my-work .project5:hover h3 {
    color: var(--font-hover);
}

.my-work .project1:hover,
.my-work .project2:hover,
.my-work .project3:hover,
.my-work .project4:hover,
.my-work .project5:hover {
    filter: none;
}

.footer-nav-container {
    padding-bottom: 3%;
}

.contact-me {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.contact-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact-me h2 {
    color: var(--font-color);
    font-family: 'Sriracha', cursive;
    font-weight: bold;
    font-size: 1.4375em;
    line-height: 0px;
    padding: 1%;
    border-bottom: 2px solid;
    margin: 2% auto;
}



/* for mobile */
@media screen (min-width: 480px){

}

/* for small tablets */
@media screen and (min-width: 576px) {

}

/* for tablets */
@media screen and (min-width: 768px) {

}

/* for small laptops */
@media screen and (min-width: 992px) {

}

/* for desktop */
@media screen and (min-width: 1200px) {

}

/* for large desktop */
@media screen and (min-width: 1400px) {

}
